.MuiTypography-root.maintenance-action-title{
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
}

.maintenance-action-table-head1 th{
    background: white;
    font-size: 12px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    border-bottom: none;
    padding-bottom: 0px;
}

.maintenance-action-table-head1 .table-title{
    display: flex;
    align-items: center;
}

.maintenance-action-table-head2 th{
    background: white;
    font-size: 12px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    padding-top: 0;
    padding-bottom: 10px;
}

.maintenance-action-table-head2 .table-title{
    display: flex;
    align-items: center;
}

.MuiTableBody-root.maintenance-action-table-body .MuiTableCell-root{
    color: gray;
    font-size: 12px;
    padding: 10px 16px;
    font-family: 'poppins', sans-serif;
}

.photos-btn{
    cursor: pointer;
}

.MuiBox-root.single-photo-modal-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1300;
}

.MuiBox-root.single-photo-modal-box .MuiIconButton-root{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}

.MuiTypography-root.single-photo-title{
    color: #fff;
    margin-bottom: 16px;
}

.MuiBox-root.single-photo-imgbox1{
    max-height: 60vh;
    max-width: 80vw;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 4px solid #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.MuiTypography-root.single-photo-img-caption{
    color: #fff;
}

.MuiBox-root.single-photo-imgbox2{
    display: flex;
    gap: 16px;
    margin-top: 24px;
    overflow-x: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
}

.MuiBox-root.single-photo-imgbox2 .MuiBox-root.single-photo-img{
    width: 120px;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.MuiBox-root.all-photos-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding: 24px;
    border-radius: 16px;
    outline: none;
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
}

.MuiBox-root.all-photos-imgbox{
    display: flex;
    flex-wrap: wrap;
    gap: 16;
    justify-content: center;
}

.all-photos-img{
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}