body {
    margin: 0;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #003366 0%, #0066cc 100%);
}
.wrapper{
    position: relative;
    width: 350px;
    background: rgba(255, 255, 255, 0.123);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .form-box{
    padding: 30px 40px 30px 25px;
}
.form h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-left: 15px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border: none;
    outline: none;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    padding-left: 10px;
}
.input-box input::placeholder {
    color: #fff;
    font-size: 14px;
}
.input-box .icon {
    position: relative;
    right: -270px;
    top: -55%;
    translate: 0 -50%;
    font-size: 16px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin: 0 4px 0px 0;
}

.remember-forgot a{
    text-decoration: none;
    color: rgb(78, 205, 196);
    margin-right: -15px;
}

.remember-forgot a:hover{
    text-decoration: underline;
}
.form-box button {
    width: 105%;
    height: 45px;
    background: rgb(78, 205, 196);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link a{
    text-decoration: none;
    color: rgb(78, 205, 196);
    margin-right: -15px;
}

.register-link a:hover{
    text-decoration: underline;
}
.divider {
  display: flex;
  align-items: center;
  color: #fff;
  width: 105%;
}

.divider .line {
  flex-grow: 1;
  height: 1px;
  background-color: #fff;
}

.divider span {
  padding: 0 10px;
  font-size: 0.9rem;
}